:root {
    --midnightgreen: #174c54;
    --black: black;
}

/* Global Layout Set-up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 80vh;
}

img {
    margin-top: 50px;
    margin-right: 30px;
    max-width: 33.3vh;
    border-radius: 5%;
    box-shadow: -10px 10px 5px gray;
}

button {
    padding: 10px 20px;
    background-color: var(--midnightgreen);
    color: white;
    border-color: var(--midnightgreen);
    font-size: 18px;
    transition: 200ms transform;
    border-radius: 5%;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: white;
    color: var(--midnightgreen);
}